# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================
# VIRTUAL ENVIRONMENTS
# ==========================================

.venv/
venv/
env/
ENV/

# ==========================================
# VS CODE / IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# DATASETS
# ==========================================

dataset/
dataset_clean/
dataset_processed/
new_images/

# ==========================================
# TRAINED MODELS
# ==========================================

models/*.pth
models/*.pt
models/*.onnx

# ==========================================
# GENERATED RESULTS
# ==========================================
backend/uploads/
results/

# ==========================================
# LOGS
# ==========================================

*.log

# ==========================================
# JUPYTER
# ==========================================

.ipynb_checkpoints/

# ==========================================
# ENVIRONMENT / SECRETS
# ==========================================

.env

# ==========================================
# OPERATING SYSTEM
# ==========================================

.DS_Store
Thumbs.db